.footer {
  margin-top: 80px;
  background: #0a490a;
}

.footer h2 {
  color: #ffc107;
}

.footer p,
a {
  color: white;
}

.info {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 20px;
}

.infoLinke {
  gap: 10px;
  display: flex;
  align-items: center;
}

.linkedin a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: linear-gradient(rgb(78, 115, 255) 0%, rgb(80, 108, 207) 100%);
}
