.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}

.img {
  width: 450px;
}

.img img {
  border-radius: 8px;
}

.conteudoInfo h3 {
  font-size: 3rem;
  color: #0a490a;
}

.conteudoInfo p {
  margin-top: 50px;
  font-size: 1.2rem;
}
