.main {
  background: #ffc107;
  height: 515px;
}

.intro {
  padding-top: 80px;
}

.intro h1 {
  color: #0a490a;
  font-size: 5rem;
}

.intro {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.article {
  position: relative;
}
.article span {
  color: #0a490a;
  font-size: 1.5rem;
  background: #b4c8b1;
  padding: 5px 15px 5px 15px;
  border-radius: 12px;
}

.article p {
  color: #0a490a;
  padding-top: 30px;
  font-size: 1.5rem;
}

.foto {
  position: absolute;
  right: 30px;
  max-width: 550px;
}

.teste {
  width: 1400px;
}
